.machine-container {
    position: relative;
    display: inline-block;
    margin: 20px 0;
    left: 50%;
    transform: translateX(-50%);
}

.reels-container {

}

.reel-container {
    display: inline-block;
}

.reel-item-img {
    height: 100px;
    width: 100px;
    background-size: 100px 100px !important;
    background-repeat: no-repeat !important;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.spin-button {
    position: relative;
    display: inline-block;
    margin: 20px 0;
    left: 50%;
    transform: translateX(-50%);
}
