.main-container {
	position: relative;
    display: inline-block;
    margin: 20px 0;
    left: 50%;
    transform: translateX(-50%);
}

.machine-container {
    position: relative;
    display: inline-block;
    margin: 20px 0;
    left: 50%;
    transform: translateX(-50%);
}

.prize-container {
	position: relative;
	display: inline-block;
	margin: 20px 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.prize-img {
	height: 200px;
	width: 200px;
}

.reels-container {
	border: 20px solid rgba(132, 39, 65, 0.56);
    border-radius: 15px;
}

.reel-container {
    display: inline-block;
}

.reel-item-img {
    height: 100px;
    width: 100px;
    background-size: 100px 100px !important;
    background-repeat: no-repeat !important;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.spin-button {
    position: relative;
    display: inline-block;
    margin: 20px 0;
    left: 50%;
    transform: translateX(-50%);
}
